<!DOCTYPE html>
<html lang="en" class="js no-touch csstransforms3d csstransitions">
<head>
    <title>@ViewBag.Title</title>
    @Html.Partial("~/Views/Shared/Include.cshtml")
</head>

<!-- BEGIN HEADER & CONTENT DIVIDER -->
<!-- END HEADER & CONTENT DIVIDER -->
@Html.Partial("~/Views/Shared/SideBar.cshtml")
@RenderBody()

</html>