
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script>
        $('#addNewClientBtn').click(function ()
        {



        });

    </script>

</head>
<body>
    <div>
        <a href="/Client/AddNewClient" id="addNewClientBtn"class="btn btn green-dark">New Client</a> 
    </div>
</body>
</html>
