<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnString" connectionString="Data Source=Db-Server;Initial Catalog=OnBoardCRM;User id=developer; Password=developer123; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>