
@{
    Layout = null;
    @Scripts.Render("~/bundles/jquery");
    @Styles.Render("~/Content/css");
    bool showError = ViewBag.ShowError;
}

<script>
    $(document).ready(function () {
        //$.ajax({
        //    type: "POST",
        //    url: $('#userloginform').attr('action'),
        //    data: $('#userloginform').serialize(),
        //    dataType: "json",
        //    success: function (response) {
        //        location.reload(true);
        //    }
        //});
        //$('#btnSubmit').click(function () {
        //    debugger;
        //   // $('#userloginform').submit();

        //    //$.ajax({
        //    //    type: "POST",
        //    //    url: $('#userloginform').attr('action'),
        //    //    data: $('#userloginform').serialize(),
        //    //    dataType: "json",
        //    //    //success: function (response) {

        //    //    //}
        //    //});
        //});


    });
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <center><h1 style="margin-top:200px">Hello!</h1></center>
            @if (ViewBag.ShowError)
            {
                <center style="color:red">Invalid Credential....Please Login with Valid Credential</center>
            }
            <div class="col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form id="userloginform" action="/Main/LoginCheck" method="post" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                @*<label class="col-md-3 control-label">User Name</label>*@
                                <div class="col-md-12" style="margin-top:30px">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                               <input type="text" id="userName" name="username" class="form-control input-circle-left" placeholder="User Name">
                                                <span class="input-group-addon input-circle-right">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12" style="margin-top:20px">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="password" id="password" name="password" class="form-control input-circle-left" placeholder="Password">
                                                <span class="input-group-addon input-circle-right">
                                                    <i class="fa fa-lock"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <center>
                                <button type="submit" id="btnSubmit" style="padding-left:200px;padding-right:200px;" class="btn green">

                                    submit

                                </button>
                            </center>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>


            </div>
        </div>
</div>
</div>